/*Element Styles*/
* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    color: rgb(141, 137, 137);
    font-size: 16px;
}

body {
    line-height: 1.6;
    background-color: gainsboro;    
    
    text-align: center;
}

h3 {
    margin: 0;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;    
}

/*ul,
li {
    margin: 1rem 1rem;
}*/

h1{
    margin: 1rem 1rem;
}

a,
a::after,
a:hover::after {
   text-decoration: none; 
}

footer {
    margin: 0 1rem;
}


/*Class Styles*/

.main-nav .item{
    background-color: ghostwhite;
    margin: 5px 1rem;
}

.stu-pic{
    width: 75%;
    height: 75%;
    margin: 1rem;
}

.portfolio-container {
    background-color: ghostwhite;
    margin: 1rem 0;
}

.itemp {    
    padding: 1rem;
}

/*Footer*/
.contact-sec {
    padding: 1rem 0;
}

.footer-nav { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    padding: 1rem 0;        
    border-top: 1px solid rgba(10, 10, 10, 0.1);
    font-weight: bold;
}

.foot-nav .item:not(.foot-item4) {
    display: none;
}


/*@media Styles*/
@media (min-width: 768px) {

    .main-header,
    .main-nav,
    .foot-nav,    
    .portfolio-container,
    .intro {
        display: flex;        
    }

   /* .intro-item {
        flex: 1 50%;
        padding: 1rem;
    }*/

    .stu-pic {
        flex: 2;
    }

    .intro {
        flex-direction: row-reverse;
        margin: 0 1rem;
        padding: 1rem;
    }

    /*Header Nav Bar*/
    .main-header {
        flex-direction: column;
        align-items: center;
    }

    .main-nav .item{
        background-color: gainsboro;
    }



    /*Portfolio Section*/
    .itemp {        
        flex: 1 50%;        
    }
    .portfolio-container {
        flex-wrap: wrap;        
    }

    .portfolio-section {
        background: ghostwhite;
        margin: 1rem;
    }

    .portfolio-heading{
        padding: 1rem;
    }



    /*Footer Nav Bar*/
    .footer-nav {                
        flex-direction: row;
        justify-content: space-between;
        align-items: center;                    
        border-top: 1px solid rgba(10, 10, 10, 0.1);
        font-weight: bold;
    }

    .foot-nav .item {
        padding: 0 1rem;
    }

    .foot-nav .item:not(.foot-item4) {
        display: block;        
    }

    .foot-item4{
        display: none;
    }
}

@media (min-width: 1024px){

    .main-header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .main-nav .item{
        background-color: gainsboro;
    }



    /*Portfolio Section*/
    .itemp {        
        flex: 1 33%;        
    }

    .portfolio-container {
        flex-wrap: wrap;
    }


}