/*Element Styles*/
* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    color: rgb(141, 137, 137);
    font-size: 16px;
}

body {
    line-height: 1.6;
    background-color: rgb(214, 208, 208);   
    text-align: center;
}

.main-header {
    font-weight: bold;
}

h1{
    font-weight: bold;
    margin: auto;    
    padding: .5rem;
}

h2 {
    font-weight: bold;
    margin: auto;    
    padding: .5rem;
}

h3 {
    margin: 0;
}

p {
    margin: auto;
}

section {
    padding: 2rem 0;
    
}

article {
    padding: 2rem 1rem;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;    
}

a,
a::after,
a:hover::after {
   text-decoration: none; 
}

footer {
    padding: 1rem;    
}

span {
    font-weight: bold;
}



/*Class Styles*/

/*Header - Navigation*/
.main-nav .item{
    background-color: ghostwhite;
    margin: 5px 1rem;
}

.name {
    font-family: 'Great Vibes', cursive;
    font-size: 42px;
    margin: 1rem;
    padding: 0;    
}

/*Intro - Section*/
.stu-pic{
    width: 75%;
    height: 75%;    
}

.intro-statement {
    margin-top: 1rem;
}

/*Portfolio - Section*/
.portfolio-section {
    background-color: ghostwhite;    
}

/*Skills - Section*/
.skills-section {
    margin-top: 2rem;
    background-color: ghostwhite;
}

.skills-picture {
    width: 30%;
    height: 30%;

}

/*Contact - Section*/
.contact-info {
    padding: 1rem 0 0;
}

.phone {
    margin-top: 1rem;
}

/*Footer*/
.footer-nav { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    padding: 2rem 0;        
    border-top: 1px solid rgba(10, 10, 10, 0.1);
    font-weight: bold;
}

.foot-nav .item:not(.foot-item5) {
    display: none;
}

.footer-name {
    font-family: 'Great Vibes', cursive;
    font-size: 32px;        
}


/*@media Styles*/
@media (min-width: 768px) {

    .main-header,
    .main-nav,
    .foot-nav,    
    .portfolio-container,
    .intro,
    .skills-container {
        display: flex;        
    }
    
    /*Intro  - Section*/
    .intro {
        flex-direction: row-reverse;
        margin: 0 1rem;
        padding: 1rem;
    }

    .stu-pic {
        flex: 2;
    }

    .intro-item {
        margin: 5px;
    }

    /*Header Nav Bar*/
    .main-header {
        flex-direction: column;
        align-items: center;
    }

    .main-nav .item{
        background-color: rgb(214, 208, 208);
    }

    /*Portfolio Section*/
    .portfolio-item {        
        flex: 1 50%;        
    }
    .portfolio-container {
        flex-wrap: wrap;        
    }

    /*Skills Section*/
    .skills-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .skills-picture {
        width: 30%;
        height: 50%;
    
    }
    
    /*Footer Nav Bar*/
    .footer-nav {                
        flex-direction: row;
        justify-content: space-between;
        align-items: center;                    
        border-top: 1px solid rgba(10, 10, 10, 0.1);
        font-weight: bold;
    }

    .foot-nav .item:not(.foot-item5) {
        display: block;        
    }

    .foot-nav .item {
        padding-left: 2rem;
    }

    .foot-item5{
        display: none;
    }
   
}

@media (min-width: 1024px){

    .main-header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .main-nav .item{
        background-color: rgb(214, 208, 208);
    }

    /*Portfolio Section*/
    .portfolio-item {        
        flex: 1 33%;        
    }

    .portfolio-container {
        flex-wrap: wrap;    
    }
}

@media (min-width: 1440px) {

    body {
        max-width: 50%;
        margin: auto;        
    }

    .main-nav {
        margin: 1rem -1rem;
    }

    .name {
        margin: 1rem 0;
    }

}